<form [formGroup]="clienteForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nome">
        <mat-error *ngIf="clienteForm.controls['nome'].hasError('required')">
          Nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="123456789" formControlName="documento">
        <mat-error *ngIf="clienteForm.controls['documento'].hasError('required')">
          Documento é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="exemplo@email.com" formControlName="email">
        <mat-error *ngIf="clienteForm.controls['email'].hasError('required')">
          Email é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row pesquisar">
    <button mat-raised-button color="primary" type="submit">Pesquisar</button>
  </div>
</form>
